/* styles dvf*/

.accordion_valeur_fonc details {
border: 1px solid #d4d4d4;
padding: .75em .75em 0;
margin-top: 10px;
box-shadow:0 0 20px #d4d4d4;
}

.accordion_valeur_fonc summary {
font-weight: bold;
margin: -.75em -.75em 0;
padding: .75em;
background-color: #5f75a4;
color: #fff;
}

.accordion_valeur_fonc details[open] {
padding: .75em;
border-bottom: 1px solid #d4d4d4;
}

.accordion_valeur_fonc details[open] summary {
border-bottom: 1px solid #d4d4d4;
margin-bottom: 10px;
}
